# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
*.env
*.venv
Pipfile
Pipfile.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
logs/
*.log
*.sqlite
*.db
*.sqlite3

# Model files
models/*.pkl

# IDE / Editor files
.vscode/
.idea/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
